.theme1 {
	background-color: white;
	color: black;
}

.theme2 {
	background-color: black;
	color: white;
}

.center {
	text-align: center;
	display: block;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: middle;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: inherit;
  color: inherit;
  display: none;
  overflow: hidden;
}
