{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Story 7</title>
    
    <link rel="stylesheet" href="{% static 'css/bootstrap-4.3.1-dist/css/bootstrap.css' %}">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

    <script>
		$("document").ready(function() {
  			$("#change").click(function() {
    		var t = $("body").attr("class");
    		console.log(t == "putih");
    		if (t == "putih") {
      			$("body").attr("class", "hitam");
    		} else {
      			$("body").attr("class", "putih");
    }
  });


			var acc = $(".accordion");
			acc.click(function() {
    			$(".panel").slideUp();
    			$(this)
      				.next(".panel")
      				.slideToggle();
  });
});
        
	</script>
</head>
<body class="putih">
	<div class="container huruf">
        <label class="switch">
                <input type="checkbox" id="change">
                <span class="slider round"></span>
        </label>
        Dark Mode
    </div>

    <div>
        <h1 class="huruf1">Hi! My name is Marcel Valdhano.</h1>
    </div>

    <div class="center">
		<button class="accordion">Aktivitas</button>
		<div class="panel">
		  <p>Aktivitas keseharian saya saat ini adalah kuliah, rapat, dan mengerjakan tugas. Selain itu, saya juga meluangkan waktu saya untuk travelling tidak jelas agar menghilangkan kejenuhan saya dalam belajar dan mengerjakan tugas.</p>
		</div>

		<button class="accordion">Pengalaman Organisasi/Kepanitiaan</button>
		<div class="panel">
          <p>Keluarga Mahasiswa Buddhis Universitas Indonesia</p>
          <p>SISTEM Fasilkom UI</p>
          <p>Compfest Fasilkom UI</p>
          <p>Betis Fasilkom UI</p>
		</div>

		<button class="accordion">Prestasi</button>
		<div class="panel">
		  <p>Tidak ada</p>
		</div>
	</div>
</body>
</html>
